.one
{
    border-radius: 20px;
    background-color:aliceblue;
}
.two
{
    height: 350px;
    width: 400px;
    background-color:aliceblue;
    border-radius: 20px;
}
.three
{
    margin-top: 10px;
    height: 300px;
    width: 400px;
    background-color:aliceblue;
    border-radius: 20px;
}